.navbar {
  display: flex;
  justify-content: space-between;
  margin: var(--side-margin);
  height: var(--standard-size);
}

.navbar button svg {
  width: auto;
  margin: calc(var(--side-margin) / 3);
}

.nav-parent {
  display: flex;
  gap: var(--side-margin);
}

.nav-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  line-height: 1;
  z-index: 30;
}

.nav-button-element {
  align-self: center;
  font-size: var(--font-size-l);
  z-index: 12;
}

.dropdown-element-left,
.dropdown-element-right {
  position: fixed;
  top: calc(var(--standard-size) + (var(--border-width) * 4));
  width: calc(var(--standard-size) * 9);
  height: auto;
  min-height: var(--standard-size);
  max-height: 80vh;
  font-size: var(--font-size-l);
  cursor: auto;
}

.dropdown-element-left {
  left: calc(var(--border-width) * 2);
}

.dropdown-element-right {
  right: calc(var(--border-width) * 2);
}

.search-nav {
  display: flex;
  font-size: var(--font-size-l);
  font-weight: 400;
}

.search-nav input,
.search-nav select {
  width: 100%;
  margin-top: var(--side-margin);
}

.search-nav select {
  height: var(--standard-size);
  margin-bottom: calc(var(--side-margin) * 2);
  border: none;
  border: var(--border-width) solid;
  border-color: var(--c3) var(--c3b) var(--c3b) var(--c3);
  font-size: var(--font-size-m);
}

.search-nav select,
.search-nav option {
  background-color: var(--c1);
}

.search-dropdown {
  display: flex;
  flex-direction: column;
  background-color: var(--c2);
  padding: calc(var(--side-margin) * 2);
}

.select-country,
.select-state {
  display: flex;
}

.search-result-parent {
  background-color: var(--c2);
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  text-align: start;
  font-size: var(--font-size-m);
  font-weight: normal;
}

.search-result-parent .search-result:hover {
  cursor: pointer;
  background-color: var(--c1);
}

.search-result-parent > div {
  position: absolute;
  width: calc(100% - var(--side-margin) * 4);
  background-color: var(--c2);
}

.search-result {
  display: grid;
  grid-template-columns: 10fr 7fr;
  padding: var(--side-margin);
  gap: var(--side-margin);
  border: 1px solid white;
  border-top: none;
  white-space: nowrap;
  line-height: 1.2;
}

.search-result > div {
  flex: 1;
  overflow: hidden;
}

.search-result .city-name {
  align-self: center;
  font-size: var(--font-size-l);
  line-height: 1.2;
}

.filter-nav {
  width: calc(var(--standard-size) * 2);
}

.filter-container {
  margin-bottom: var(--border-width);
}

.filter-container button {
  width: auto;
  margin: var(--border-width);
  padding: 0 var(--border-width);
}

.slider-container {
  margin-top: var(--side-margin);
}

.price-slider-label {
  margin: var(--side-margin) 0;
  font-size: calc(var(--standard-size) / 2.7);
}

.logo-nav {
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  flex: 1;
  max-width: 500px;
}

.logo-image {
  flex-shrink: 0;
  margin: 0 0 0 var(--side-margin);
  width: var(--standard-size);
  height: var(--standard-size);
}

.logo-text {
  margin: 0 var(--side-margin);
  font-family: "Chango";
  font-size: 3rem;
  line-height: 1;
}

.account-nav {
  width: calc(var(--standard-size) * 2);
}

.currency-nav {
  display: flex;
  align-items: center;
}

.currency-text div:nth-child(1) {
  font-size: calc(var(--standard-size) / 2.3);
}

.currency-text div:nth-child(2) {
  font-size: var(--font-size-m);
}

.currency-symbols {
  font-size: calc(var(--standard-size) / 2.4);
}

.currency-button-parent {
  display: flex;
  justify-content: center;
  gap: var(--side-margin);
  margin: var(--side-margin);
  font-size: var(--font-size-m);
}

.other-currency-dropdown-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - (var(--side-margin) * 2));
  margin: var(--side-margin);
  padding: var(--side-margin);
  font-size: var(--font-size-m);
}

.other-currency-list {
  display: flex;
  flex-direction: column;
  gap: var(--border-width);
  max-height: calc(var(--standard-size) * 8);
  margin: var(--side-margin);
  font-weight: normal;
  font-size: calc(var(--standard-size) / 3);
  overflow-y: scroll;
}

.other-currency-list:hover {
  cursor: pointer;
}

.other-currency-list > div {
  padding: var(--border-width);
  border-bottom: calc(var(--border-width) / 2) var(--c3) solid;
}

.units > button {
  width: calc(var(--standard-size) * 2.5);
  margin: var(--side-margin);
}

.options-nav .dropdown-element-right {
  height: calc(var(--standard-size) + (var(--side-margin) * 3));
}

.theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--side-margin);
}

@media (max-width: 1024px) {
  .logo-text {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .logo-text {
    font-size: 1.4rem;
  }
}

@media (max-width: 600px) {
  .logo-text {
    display: none;
  }
}

@media (max-width: 370px) {
  .logo-image {
    margin: 0;
  }
}

@media (max-height: 480px) {
  .landscape-mode .search-dropdown {
    flex-direction: column-reverse;
  }

  .landscape-mode .search-result-parent > div {
    transform: translateY(
      calc(var(--standard-size) * 1.5 + var(--side-margin))
    );
  }

  .search-result {
    padding: 0px var(--side-margin);
    line-height: 0.8;
  }
}
