.map-parent {
  position: relative;
  height: calc(100vh - (var(--side-margin) * 2 + var(--standard-size)));
  cursor: default;
  flex: 1;
}

.map {
  position: absolute;
  height: 100%;
  width: 100%;
}

.draw-parent {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: var(--side-margin);
  margin-left: var(--side-margin);
  margin-top: var(--side-margin);
  z-index: 1;
}

.pencil-button > svg {
  width: 100%;
  height: 100%;
  padding: calc(var(--border-width) / 2);
}

.mode-draw_polygon canvas:hover {
  cursor: url("../../assets/icon-pencil.svg") 0 120, auto !important;
}

.maplibregl-ctrl {
  background-color: var(--c1) !important;
}

.maplibregl-ctrl-attrib-inner,
.maplibregl-ctrl-attrib-inner > a {
  color: var(--c4) !important;
}

@media (max-width: 480px) {
  .maplibregl-ctrl-attrib.maplibregl-compact {
    margin: 0px;
  }
  .maplibregl-ctrl-attrib-inner {
    font-size: 9px;
  }
}
