/* Common break points: 320px, 480px, 768px, 1024px, 1280px  */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: var(--c4);
  font-size: 100%;
  font: inherit;
  font-family: "Verdana";
}

body,
#app,
.app {
  width: 100%;
  height: 100%;
}

.light-theme {
  --c1: hsl(221, 10%, 80%);
  --c1-transparent: hsla(222, 10%, 80%, 0.95);
  --c2: hsl(221, 15%, 71%);
  --c3: hsl(222, 12%, 61%);
  --c3b: color-mix(in hsl, var(--c3) 50%, var(--c4) 50%);
  --c4: hsl(0, 0%, 0%);
}

.dark-theme {
  --c1: hsl(222, 10%, 15%);
  --c1-transparent: hsla(217, 11%, 15%, 0.95);
  --c2: hsl(220, 15%, 25%);
  --c3: hsl(220, 12%, 35%);
  --c3b: color-mix(in hsl, var(--c1) 50%, var(--c2) 50%);
  --c4: hsl(0, 0%, 100%);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --standard-size: 60px;
  --side-margin: calc(var(--standard-size) / 5);
  --font-size-m: calc(var(--standard-size) / 3);
  --font-size-l: calc(var(--standard-size) / 2);
  --font-size-xl: calc(var(--standard-size) / 1.5);
  --font-size-2xl: calc(var(--standard-size) / 1.2);
  --speed: 100ms;

  --border-width: calc(var(--standard-size) / 10);
}

* {
  transition: background var(--speed);
}

#app {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  background-color: var(--c1);
}

main {
  display: flex;
  flex: 1 1 100%;
  justify-content: end;
}

button,
.button-style {
  width: var(--standard-size);
  height: var(--standard-size);
  background-color: var(--c2);
  border: var(--border-width) solid;
  border-color: var(--c3) var(--c3b) var(--c3b) var(--c3);
}

button:hover {
  cursor: pointer;
}

input {
  width: calc(var(--standard-size) * 9);
  height: var(--standard-size);
  padding: var(--side-margin);
  color: var(--c4);
  background-color: var(--c1);
  border: calc(var(--border-width) / 2) solid !important;
  border-color: var(--c3);
  font-size: var(--font-size-l);
  font-weight: normal;
  outline: none;
}

select {
  background-color: var(--c1) !important;
}

input:focus {
  border-color: var(--c4);
}

::-webkit-scrollbar {
  width: var(--side-margin);
}

::-webkit-scrollbar-track {
  background: var(--c1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--c3);
}

button,
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.hidden {
  display: none !important;
}

.highlighted {
  background-color: var(--c1);
  border-color: var(--c4) !important;
}

.separation {
  width: 100%;
  margin: var(--side-margin) 0;
  border-bottom: calc(var(--border-width) / 2) solid;
  border-color: var(--c3);
}

.is-clicked .arrow-icon {
  rotate: 90deg;
}

.arrow-icon {
  width: calc(var(--standard-size) - var(--side-margin));
  height: calc(var(--standard-size) - var(--side-margin));
}

.panel {
  width: 55%;
  max-width: 1024px;
  height: calc(100vh - var(--standard-size) - (var(--side-margin) * 2));
  padding-left: var(--side-margin);
  background-color: var(--c1);
  font-size: var(--font-size-m);
  font-weight: bold;
  overflow: hidden;
  transition: width var(--speed);
  z-index: 15;
}

.list-switch {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(var(--standard-size) * 2 + var(--side-margin));
  padding-left: var(--side-margin);
  right: var(--side-margin);
  background-color: var(--c2);
  z-index: 20;
}

.list-switch svg {
  height: 100%;
  width: 100%;
}

.button-2x {
  width: calc(var(--standard-size) * 2);
}

.panel:not(.is-open) .list-switch svg {
  rotate: 180deg;
}

.icon-x-border {
  width: calc(var(--standard-size) * 2);
  height: calc(var(--standard-size) * 2);
}

.icon-arrow-border:hover,
.icon-x-border:hover {
  filter: invert(1);
  cursor: pointer;
}

.panel .icon-x-border {
  position: absolute;
  right: var(--side-margin);
}

.search-element input,
.search-element select {
  width: 100%;
  margin-top: var(--side-margin);
}

.search-element select {
  height: var(--standard-size);
  padding-left: var(--border-width);
  border: var(--border-width) solid;
  border-color: var(--c3) var(--c3b) var(--c3b) var(--c3);
  background-color: var(--c1);
  font-size: var(--font-size-m);
}

.search-element option {
  max-height: 100px;
}

.search-result-parent {
  background-color: var(--c2);
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  text-align: start;
  font-size: var(--font-size-m);
  font-weight: normal;
}

.search-result-parent .search-result:hover {
  cursor: pointer;
  background-color: var(--c1);
}

.search-result-parent > div {
  position: absolute;
  width: calc(100% - var(--side-margin) * 2);
  background-color: var(--c2);
}

@media (max-width: 1024px) {
  .panel {
    position: fixed;
    width: 100%;
  }
}

@media (max-width: 768px) {
  body {
    --standard-size: 45px;
  }
}

@media (max-width: 480px) {
  body {
    --standard-size: 35px;
    --font-size-m: 12px;
  }
}

@media (min-width: 480px) and (max-height: 480px) {
  body {
    --standard-size: 45px;
    --font-size-m: 12px;
  }
}
