.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--side-margin);
  height: calc(100vh - (var(--standard-size) + (var(--side-margin) * 2)));
  overflow: scroll;
  overflow-x: hidden;
}

.list .list-button-parent {
  display: none;
}

.panel.is-open .list-button-parent {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: calc((var(--standard-size) * 2));
  height: calc(var(--standard-size));
  font-size: var(--font-size-m);
  line-height: 1;
  z-index: 10;
  overflow: hidden;
}

.panel.is-open .list-button-parent.window-open {
  height: calc(var(--standard-size) * 3 + (var(--side-margin) * 2));
}

.list-button-parent.window-open .list-button-window {
  transform: translateX(calc((var(--standard-size) * 2) * -1));
}

.list-button-window {
  display: flex;
}

.list-button-window > div {
  background-color: var(--c1);
}

.list-button-all {
  display: flex;
  flex-direction: column;
  gap: var(--side-margin);
}

.list-button-parent button {
  width: calc(var(--standard-size) * 2);
}

.list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 25vh;
  background-color: var(--c2);
}

.low-height .list-item {
  height: 50vh;
}

.icon-arrow-border-parent {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70%;
}

.icon-arrow-border {
  display: flex;
  width: var(--standard-size);
  height: 100%;
  cursor: pointer;
}

.icon-arrow-border:nth-child(1) {
  rotate: 180deg;
}

.list-item img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1024px) {
  .panel:not(.is-open) {
    position: fixed;
    width: 0px;
    overflow-y: hidden;
  }

  .panel.is-open {
    width: 100%;
  }
}
