.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--side-margin);
  width: 55%;
  max-width: 1000px;
  padding-left: var(--side-margin);
  background-color: var(--c1);
  font-weight: bold;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 2;
}

.list-arrow {
  position: fixed;
  display: none;
  background-color: var(--c2);
  z-index: 10;
}

.list-arrow svg {
  width: 100%;
  height: 100%;
  margin: calc(var(--border-width) * -1);
  padding: var(--border-width);
}

.list .list-button-parent {
  display: none;
}

.list.is-open .list-button-parent {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: calc((var(--standard-size) * 2));
  height: calc(var(--standard-size));
  font-size: var(--font-size-m);
  line-height: 1;
  z-index: 10;
  overflow: hidden;
}

.list.is-open .list-button-parent.window-open {
  height: calc(var(--standard-size) * 3 + (var(--side-margin) * 2));
}

.list-button-parent.window-open .list-button-window {
  transform: translateX(calc((var(--standard-size) * 2) * -1));
}

.list-button-window {
  display: flex;
}

.list-button-window > div {
  background-color: var(--c1);
}

.list-button-all {
  display: flex;
  flex-direction: column;
  gap: var(--side-margin);
}

.list-button-parent button {
  width: calc(var(--standard-size) * 2);
}

.list-item {
  position: relative;
  height: 25vh;
  background-color: var(--c2);
}

.icon-arrow-border-parent {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70%;
}

.icon-arrow-border {
  display: flex;
  width: var(--standard-size);
  height: 100%;
  cursor: pointer;
}

.icon-arrow-border:nth-child(1) {
  rotate: 180deg;
}

.list-item img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1024px) {
  .list:not(.is-open) {
    position: fixed;
    width: 0px;
    overflow-y: hidden;
  }

  .list.is-open {
    width: 100%;
  }

  .list:not(.is-open) .list-arrow svg {
    rotate: 180deg;
  }

  .list-arrow {
    display: block;
  }

  .list:not(.is-open) .list-arrow {
    transform: translateX(calc(var(--standard-size) * -1));
  }
}
